.appHeader {
  display: flex;
  position: absolute;
  padding: 10px;
  width: 100%;
  color: black;
  border-bottom: solid var(--colorMode-color);
  border-width: 1px;
  z-index: 999;
}

.appHeader-title {
  flex-grow: 2;
  align-items: left;
}

.appHeader-link:hover {
  text-decoration: underline;
}

.appHeader-burger {
  flex-grow: 2;
}

