/* 
TODO:: This probably should be loaded into the layout / intergrated with the theme.ts so is part of vanilla extract  
TODO: Make a decision on what you want to be changed by the color scheme and make the appropriate css vars e.g border, text, shadow
*/

.colorSchemeToggle {
    width: 50px;
    background: var(--colorScheme-color),
}

:root[data-color-scheme='#ffa8a8']{
    --colorScheme-color: var(--mantine-color-red-3)
}

:root[data-color-scheme='#faa2c1'] {
    --colorScheme-color: var(--mantine-color-pink-3)
}

:root[data-color-scheme='#e599f7'] {
    --colorScheme-color: var(--mantine-color-grape-3)
}

:root[data-color-scheme='#b197fc'] {
    --colorScheme-color: var(--mantine-color-violet-3)
}

:root[data-color-scheme='#91a7ff'] {
    --colorScheme-color: var(--mantine-color-indigo-3)
}

:root[data-color-scheme='#74c0fc'] {
    --colorScheme-color: var(--mantine-color-blue-3)
}

:root[data-color-scheme='#66d9e8'] {
    --colorScheme-color: var(--mantine-color-cyan-3)
}

:root[data-color-scheme='#63e6be'] {
    --colorScheme-color: var(--mantine-color-teal-3)
}

:root[data-color-scheme='#8ce99a'] {
    --colorScheme-color: var(--mantine-color-green-3)
}

:root[data-color-scheme='#c0eb75'] {
    --colorScheme-color: var(--mantine-color-lime-3)
}

:root[data-color-scheme='#ffe066'] {
    --colorScheme-color: var(--mantine-color-yellow-3)
}

:root[data-color-scheme='#ffc078'] {
    --colorScheme-color: var(--mantine-color-orange-3)
}


