.peoplePage-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.peoplePage-card {
  height: 700px;
}

.peoplePage-cardImage {
  height: 400px;
}

.peoplePage-cardDescription {
  width: auto;
  overflow-wrap: break-word;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.peoplePage-cardDescriptionColumn1 {
  width: 150px;
  flex-shrink: 0;
}
