.card {
  border-color: var(--colorMode-color);
  border-width: var(--my-border-width);
  --my-card-padding: 30px;
  padding: var(--my-card-padding)
}

.card:focus {
  background-color: var(--mantine-color-default-border);
}

.cardHover:hover {
  background-color: var(--mantine-color-default-border);
}

.cardDisabled {
  opacity: 0.7;
}

.cardAdornment {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: var(--my-card-padding);
  margin-right: var(--my-card-padding)
}



