.card {
  --card-padding: 0px;
}

.cardContent {
  padding: var(--mantine-spacing-md);
  position: relative;
  overflow: scroll;
  text-overflow: ellipsis;
  flex-direction: column;
  gap: 10px;
  display: flex;
}