/* TODO: Card padding affecting the audio player as well ?? I thought these modules scoped the styles ?  */

.card {
  --card-padding: 0px;
}


.cardContent {
  padding: var(--mantine-spacing-md);
  position: relative;
  overflow: scroll;
  text-overflow: ellipsis;
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.cardFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background: var(--mantine-color-body);
  border-top: solid 1px var(--colorMode-color);
  height: 30px;
}
