.homePage {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.homePage-card {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

@media (width <= 992px) {
  .homePage-card  {
    height: auto
  }
}


.homePage-cardContent {
  display: flex;
  flex-direction: row;
}

@media (width <= 992px) {
  .homePage-cardContent  {
    flex-direction: column;
  }
}

.homePage-cardColumn1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
  padding: 10px;
}

@media (width <= 992px) {
  .homePage-cardColumn1  {
    width: 100%;
  }
}

.homePage-media {
  width: 50%;
  height: 100%;
  display: flex;
  align-content: center;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

@media (width <= 992px) {
  .homePage-media  {
    width: 100%;
  }
}

