.cvPage {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.cvPageContent {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 60%;
  flex-wrap: wrap;
  gap: 20px;
}


@media (width <= 992px) {
  .cvPage {
    padding: 0px;
    width: 100%
  }
}

