.blogPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.blogPageCard {
  width: 60%;
}

@media (width <= 992px) {
  .blogPageCard {
    width: 100%;
  }
}
