.photosPage {
  display: flex;
  align-items: center;
  gap: 20px
}

.photosPageImage {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

@media (width <= 768px) {
  .photosPageImage {
    width: 100%;
  }
}
