.line-chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 40px
}

.legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* @media (width <= 992px) {
    .line-chart-svg{
        width: 800
    }
  } */