.audioPlayer-container {
  min-width: 100%;
  padding: 10px;
}

.mantine-Slider-thumb {
  display: none;
}
.audioPlayer-sliderContainer {
  width: 100%;
}

.audioPlayer-slider {
  margin: auto;
  flex-grow: 1;
  --slider-color: var(--colorMode-color);
}

.audioPlayer-button {
  border: solid 1px var(--colorMode-color);
}

.audioPlayer-icon {
  stroke: var(--colorMode-color);
}

.visualisation{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 50px;
    margin: 2px
}

