.audioPlayer-container {
  min-width: 100%;
  padding: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}

.mantine-Slider-thumb {
  display: none;
}

.audioPlayer-sliderContainer {
  width: 100%;
}

.audioPlayer-slider {
  margin: auto;
  flex-grow: 1;
  --slider-color: var(--colorMode-color);
}

.audioPlayer-visualisation {
  height: 100px;
  width: 100%;
}
