.container {
  min-width: 100%;
  padding: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}

.sliderContainer {
  width: 100%;
}

.slider {
  margin: auto;
  flex-grow: 1;
  --slider-color: var(--colorMode-color);
}

.visualisation {
  height: 100px;
  width: 100%;
}
