.audioPlayer-container {
  min-width: 100%;
  padding: 10px;
}
.audioPlayer-sliderContainer {
  width: 100%;
}

.audioPlayer-slider {
  margin: auto;
  flex-grow: 1;
  --slider-color: var(--colorMode-color);
}

.audioPlayer-button {
  border: solid 1px var(--colorMode-color);
}

.audioPlayer-icon {
  stroke: var(--colorMode-color);
}
