.homePage {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.homePage-card {
  display: flex;
  width: 100%;
  align-items: center;
}

.homePage-content {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

@media (width <= 992px) {
  .homePage-content {
    width: 100%;
  }
}

/* This is attached to the image in db
don't really like this as not very readable
db should just be the data (like for a data base), not the componnents */
.homePage-image {
  height: 500px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media (width <= 992px) {
  .homePage-image {
    width: 100%;
    height: 500px;
  }
}

.homePage-link:hover {
  text-decoration: underline;
}
