.columnOne {


  @media (min-width: em(750px)) {
    background-color: var(--mantine-color-red-filled);
}
}


.listCard {
  width: 400px;
  height: 400px;
}

.listCard-footer {
  display: flex;
  padding: var(--card-Padding);
}
