.homePage {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homePageOuterCard {
  width: 100%;
  align-items: center;
}

.homePageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  gap: 30px;
  margin: auto
}

@media (width <= 992px) {
  .homePageContent {
    width: 100%;
  }
}

.homePageCard {
  position: relative;
  display: flex;
  width: 100%;
  align-items: left;
  gap: 10px;
}
