.homePage {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.homePage-outerCard {
  width: 100%;
  align-items: center;
}

.homePage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 20px;
  gap: 30px;
}

@media (width <= 992px) {
  .homePage-content {
    width: 100%;
  }
}

.homePage-card {
  position: relative;
  border-color: var(--colorMode-color);
  border-width: var(--my-border-width);
  padding: 30px;
  display: flex;
  width: 100%;
  align-items: left;
  gap: 10px;
  opacity: 0.9;
}
.homePage-card:focus {
  background-color: var(--mantine-color-default-border);
}
.homePage-card:hover {
  background-color: var(--mantine-color-default-border);
}

.homePage-cardDisabled {
  opacity: 0.7;
}

.homePage-clickIcon {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: 30px;
  margin-right: 30px;
}

/* This is attached to the image in db
don't really like this as not very readable
db should just be the data (like for a data base), not the componnents */
.homePage-image {
  height: 500px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media (width <= 992px) {
  .homePage-image {
    width: 100%;
    height: auto;
  }
}
