.galleryPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

@media (width <= 768px) {
  .galleryPage {
    flex-direction: column;
  }
}

.galleryPage-card {
  width: 400px;
  background-color: red;
  height: min-content;
}

@media (width <= 768px) {
  .galleryPage-card {
    width: 100%;
  }
}

.galleryPage-card:hover {
  text-decoration: underline;
  cursor: pointer;
}

.galleryPage-card:hover > .galleryPage-overlay {
  opacity: 0.5;
}

.galleryPage-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: black;
}

.galleryPage-image {
  width: 100%;
  min-height: 640px;
}
