.placesPage-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.placesPage-card {
  width: 100%;
  align-content: center;
  justify-content: center;
  display: flex;
}

.placesPage-cardTitle {
  padding-left: 20px;
  padding-top: 10px;
}

.placesPage-carousel {
  width: 50%;
}

@media (width <= 992px) {
  .placesPage-carousel {
    width: 100%;
    height: 100px;
  }
}

.placesPage-cardColumnn1 {
  overflow-wrap: break-word;
  padding: 5px;
  flex-shrink: 0;
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (width <= 992px) {
  .placesPage-cardColumnn1 {
    width: 100%;
  }
}

.placesPage-googleIframe {
  margin-top: 10px;
}

.placesPage-cardDescriptionColumn1 {
  width: 150px;
  flex-shrink: 0;
}
