.audioPlayer-container {
  min-width: 100%;
}
.audioPlayer-sliderContainer {
  width: 100%;
}

.audioPlayer-slider {
  margin: auto;
  flex-grow: 1;
}

.audioPlayer-button {
  border: solid 1px var(--mantine-color-text)
}
