.foodPage-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 10px;
}

.foodPage-card {
  height: 700px;
  width: 600px;
}

@media (width <= 768px) {
  .foodPage-card {
    width: 100%;
  }
}

.foodPage-cardImage {
  height: 400px;
}

.foodPage-cardDescription {
  width: auto;
  overflow-wrap: break-word;
  gap: 5px;
}

.foodPage-cardDescriptionColumn1 {
  width: 150px;
  flex-shrink: 0;
}
