.gallery {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.img {
  width: 48%;
  border-radius: 12px;
}

@media (width <= 1200px) {
  .img {
    width: 100%;
  }
}