.placesPage-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.placesPage-card {
  width: 100%;
}

.placesPage-cardContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: var(--mantine-spacing-md);
}

@media (width <= 992px) {
  .placesPage-cardContent {
    flex-direction: column;
  }
}

.placesPage-carousel {
  width: 50%;
}

@media (width <= 992px) {
  .placesPage-carousel {
    width: 100%;
  }
}

.placesPage-cardDescription {
  width: 50%;
}

@media (width <= 992px) {
  .placesPage-cardDescription {
    width: 100%;
  }
}
