.appFooter {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 20px;
  color: var(--colorMode-color);
  border-top: solid var(--colorMode-color);
  border-width: var(--my-border-width);
  justify-content: center;
  background-color: var(--mantine-color-body);
  gap: 30px
}

.appFooterLink {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
