.photosPage {
  display: flex;
  align-items: center;
}

.photosPage-photoContainer {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

@media (width <= 768px) {
  .photosPage-photoContainer {
    width: 100%;
  }
}
