.photographyPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

@media (width <= 768px) {
  .photographyPage {
    flex-direction: column;
  }
}

.photographyPage-card {
  width: 400px;
  height: 600px;
}

@media (width <= 768px) {
  .photographyPage-card {
    width: 100%;
  }
}

.photographyPage-card:hover {
  text-decoration: underline;
  cursor: pointer;
}

.photographyPage-card:hover > .photographyPage-overlay {
  opacity: 0.5;
}

.photographyPage-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: black;
  color: var(--colorMode-color);
}

.photographyPage-image {
  width: 100%;
  min-height: 640px;
}
