.photographyPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

@media (width <= 768px) {
  .photographyPage {
    flex-direction: column;
  }
}

.photographyPageCard {
  width: 400px;
  height: 600px;
  padding: 0px;
}

@media (width <= 768px) {
  .photographyPageCard {
    width: 100%;
  }
}

.photographyPageCard:hover {
  text-decoration: underline;
  cursor: pointer;
}

.photographyPageCard:hover > .photographyPageOverlay {
  opacity: 0.5;
}

.photographyPageOverlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: black;
}

.photographyPageImage {
  width: 100%;
  height: 100%;
}
